@model PlanEvent.ViewModels.RegisterInputModel

@{
    ViewData["Title"] = "Register";
}

<div>
    <form method="post" asp-action="Register">
        <div class="form-group">
            <label asp-for="Username">Username</label>
            <input asp-for="Username" />
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password">Password</label>
            <input type="password" asp-for="Password" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ConfirmPassword">Confirm Password</label>
            <input type="password" asp-for="ConfirmPassword" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        <input type="submit" value="Register" class="btn btn-primary" />
    </form>
</div>

