@{
    ViewBag.Title = "Sent";
}
<h4>An email with the invitation link was sent to the specified email adres</h4>
<p>
    Please note that a guarentee for its arrival has not been implemented,
    this means that if the adres is wrongly written, it may not arrive where you intended.
</p>
