@model PlanEvent.ViewModels.ActivityCreateInviteeViewModel

@{
    ViewData["Title"] = "ActivityCreate";
}

<h1>ActivityCreateInvitee</h1>

<h4>Invitee</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ActivityCreate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="ActivityId" type="hidden" value="@Model.ActivityId" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@*<div>
    <a asp-action="Index">Back to List</a>
</div>*@

