
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>*BZZT* Error</title>
</head>
<body>
    Uh oh, an error has occured. Try going back to the main <a asp-controller="Home" asp-action="Index">page</a>.
</body>
</html>
